
    <%- include("header") -%>

    <div class="box" id="heading">
        <h1><%= listType %></h1>
    </div>

    <div class="box">
        <% for(let item of items){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= item %></p>
            </div>
        <% } %>
        <form action="/" method="post">
            <input type="text" name="listItem" id="listItem" placeholder="New Item">
            <button name="list" type="submit" value=<%= listType %> >+</button>
        </form>
    </div>  

    <%- include("footer") -%>
